# Resend email delivery
RESEND_API_KEY=re_your_resend_api_key
CONTACT_FROM_EMAIL="Sayuru Website <notify@site.sayuru.me>"
CONTACT_TO_EMAIL=contact@sayuru.me

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
TURNSTILE_SECRET_KEY=your_turnstile_secret_key
TURNSTILE_ALLOWED_HOSTNAMES=sayuru.me,www.sayuru.me
